/Dataset
/Resource
/Models
/Contest_Journey/logs
/Contest_Journey/mlruns
/Contest_Journey/results
Poem_Generation_Project
# Ignore model directory
/HuggingFace/next_sen_predict/mlruns
/HuggingFace/next_sen_predict/poem 
/HuggingFace/next_sen_predict/poem_gpt2
HuggingFace/fine_tune_basic/mymodel/
HuggingFace/multiple_input_sentence/mlruns/
HuggingFace/multiple_input_sentence/result/
HuggingFace/multiple_input_sentence/model_directory/
HuggingFace/ner_pos_tagging/mlruns/
HuggingFace/ner_pos_tagging/ner_tags/
HuggingFace/machine_translate/opus_mt_en_es
HuggingFace/machine_translate/opus_mt_en_es_final
HuggingFace/machine_translate/mlruns
